---
import Layout from '../../layouts/Layout.astro';

import { Image } from 'astro:assets';
import * as Images from '../../assets/index.js';
import '../../assets/app.css';
import Header from '../../components/Header.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<div class="relative h-screen">
			<Image src={Images.compromomiso_ambiental} class="w-full h-full astro-a object-cover " alt="Astro logo" />
			<Header />
			<div class=" absolute flex-col flex  bottom-0 transform rounded-t-lg rounded-b-lg  left-0 w-full ">
				<div class="container mx-auto">
					<div class="blackdrop_header rounded-t-lg pb-40 py-5  text-white font-bold text-4xl  text-left  ">
						
						<p class="text-base font-normal mt-4 text-shad">Creemos que la calidad no solo se mide en <br> la taza final , sino en cada acción que nos permite llegar a ella siendo consecuentes <br> con nuestro propósito y con la huella que vamos dejando, <br> poniendo siempre por delante nuestro compromiso con el <br> medioambiente. 
						</p>
					</div>
					
				</div>
			</div>
		</div>

		<section class="bg-white py-20 relative">
			<div class="container">
				<div class="grid md:grid-cols-3 gap-10">
					<div class="bg-[#F1F4F4] flex-col flex">
						<div class="h-[166px]">
							<Image src={Images.integral} class="rounded-t-lg w-full h-full object-cover astro-a" alt="" />
						</div>
						<div class="px-5 text-center items-center  flex flex-col h-full">
							<div class="header text-2xl py-5 text-center  font-semibold text-[#384753]">
								Diseño integral de experencia
							</div>
							<p  class="text-[14px] mb-10">Que involucra en la misma ecuación al medioambiente, diseño y la calidad, diseñando en una sola línea un café en envases medioambientalmente responsables, con atractivos diseños y con calidad de excelencia.
							</p>
						
		
							
						</div>
					</div>
					<div class="bg-[#F1F4F4] flex-col flex">
						<div class="h-[166px]">
							<Image src={Images.desafios} class="rounded-t-lg w-full h-full object-cover astro-a" alt="" />
						</div>
						<div class="px-5 text-center items-center  flex flex-col h-full">
							<div class="header text-2xl py-5 text-center  font-semibold text-[#384753]">
								Diseño integral de experencia
							</div>
							<p  class="text-[14px] mb-10">Que involucra en la misma ecuación al medioambiente, diseño y la calidad, diseñando en una sola línea un café en envases medioambientalmente responsables, con atractivos diseños y con calidad de excelencia.
							</p>
						
		
							
						</div>
					</div>
					<div class="bg-[#384753] flex-col flex px-10 py-10 rounded-t-lg rounded-b-lg">
							<div class="text-white text-center font-medium text-2xl border-b pb-5">
								Te invitamos a <br> interiorizarse más en <br> nuestras acciones y ser <br> parte de ellas.
							</div>
							<div class="text-white text-center font-medium text-2xl  pt-5">
								Nuestro compromiso <br> con el medioambiente <br> es inquebrantable.
							</div>
							<div class=" pt-5 flex justify-center">
								<svg xmlns="http://www.w3.org/2000/svg" width="72.839" height="72.838" viewBox="0 0 72.839 72.838">
									<g id="Grupo_12" data-name="Grupo 12" transform="translate(-1424.802 -1421.443)">
									  <path id="Trazado_40" data-name="Trazado 40" d="M1461.166,1421.443a36.419,36.419,0,1,0,36.475,36.5,36.44,36.44,0,0,0-36.475-36.5m-.219,69.554a33.155,33.155,0,1,1,33.449-33.026A33.208,33.208,0,0,1,1460.947,1491" fill="#f2f4f4"/>
									  <path id="Trazado_41" data-name="Trazado 41" d="M1461.415,1462.465c-1.922,4.22-3.776,8.009-5.373,11.9-.924,2.253.255,5.014,2.34,6.419a5.677,5.677,0,0,0,6.557-.29,5.5,5.5,0,0,0,1.853-6.424c-1.63-3.766-3.441-7.453-5.377-11.608m1.44,15.361a3.781,3.781,0,0,1-2.874-.031c-1.1-.527-1.266-1.74-.741-2.9.659-1.456,1.349-2.9,2.174-4.667.841,1.8,1.536,3.242,2.194,4.7.522,1.159.352,2.381-.753,2.9" fill="#f2f4f4"/>
									  <path id="Trazado_42" data-name="Trazado 42" d="M1468.22,1440.23l-2.659-1.891-4.559,6.168-2.234-3.133c-.7-.984-1.4-1.967-2.183-3.057l-2.664,1.9c2.39,3.38,4.652,6.576,7.056,9.974l7.243-9.959" fill="#f2f4f4"/>
									  <path id="Trazado_43" data-name="Trazado 43" d="M1480.517,1439.4l-2.529-2.161-16.837,19.7-16.837-19.7-2.529,2.161,16.055,18.787h-17.25v3.041h41.262v-3.041h-17.391Z" fill="#f2f4f4"/>
									</g>
								</svg>
							</div>
							  
					</div>	
				</div>
			</div>
		</section>
		<section class="bg-white py-20 relative">
			<div class="container">
				<div class="text-3xl uppercase text-center pb-20  font-normal text-[#384753]">
					CICLO SOSTENIBLE
				</div>
				<div class="progress-bar flex  ">
					<span class="progress-dot flex w-full font-medium md:text-xl text-[#384753] text-center justify-start" style="left:0%">DISEÑO</span>
					<span class="progress-dot flex w-full font-medium md:text-xl text-[#384753] text-center justify-center" style="left:50%">MEDIOAMBIENTE</span>
					<span class="progress-dot flex w-full font-medium md:text-xl text-[#384753] text-center justify-end" style="left:100%">CALIDAD</span>
					<div class="progress-track"></div>
				  </div>
				<div class="text-3xl uppercase text-center pt-20  font-normal text-[#384753]">
					CONOCE EN DETALLE NUESTROS FORMATOS
				</div>
				<div class="swiper mt-10">
					<div class="swiper-wrapper">
						<div class="swiper-slide" >
							<div class="text-xl  text-center pt-20  font-normal text-[#384753]">
								Cápsulas de Aluminio
							</div>
							<Image src={Images.slidercompromiso1} class="h-full md:h-[636px] rounded-t-lg w-full object-cover md:object-contain astro-a" alt="" />
						</div>
						<div class="swiper-slide" >
							<div class="text-xl  text-center pt-20  font-normal text-[#384753]">
								Grano / Molido
							</div>
							<Image src={Images.grano1} class="h-full md:h-[636px] rounded-t-lg w-full object-cover md:object-contain  astro-a" alt="" />
						</div>
						<div class="swiper-slide" >
							<div class="text-xl  text-center pt-20  font-normal text-[#384753]">
								Cápsulas Compostables
							</div>
							<Image src={Images.slidercompromiso3} class="h-full md:h-[636px] rounded-t-lg w-full object-cover md:object-contain  astro-a" alt="" />
						</div>
						<div class="swiper-slide" >
							<div class="text-xl  text-center pt-20  font-normal text-[#384753]">
								Cápsulas de Aluminio
							</div>
							<Image src={Images.slidercompromiso4} class="h-full md:h-[636px] rounded-t-lg w-full object-cover md:object-contain  astro-a" alt="" />
						</div>
						
					</div>
				

				</div>
				<div class="swiper-pagination"></div>
			</div>
		</section>
		<section class="bg-white py-20 relative">
			<div class="container">
				<div class="grid md:grid-cols-2 gap-10">
					<div class="bg-[#F1F4F4] flex-col flex">
						<div class="h-[166px]">
							<Image src={Images.compost} class="rounded-t-lg w-full h-full object-cover astro-a" alt="" />
						</div>
						<div class="px-5 text-center items-center  flex flex-col h-full">
							<div class="header text-2xl py-5 text-center  font-semibold text-[#384753]">
								Compost
							</div>
							<p  class="text-[14px] mb-10 px-10">
								El compostaje es un proceso de degradación controlado de la materia orgánica ( frutas, verduras, pasto, hojas y otros ) a través de microorganismos aeróbicos. Este proceso es llevado a cabo bajo condiciones controladas de temperatura y humedad. El producto que se genera es un compost 100% natural de alta calidad, útil como sustrato para el suelo. El compost tiene diversos beneficios, entre los principales: un alto aporte nutricional, la retención de carbono en el suelo, una menor incidencia de microorganismos patógenos al actuar como bactericida y fungicida, además, mejora la capacidad de retención, almacenamiento y velocidad de infiltración del agua y, la estabilidad y estructura del suelo.
							</p>
						
		
							
						</div>
					</div>
					<div class="bg-[#F1F4F4] flex-col flex">
						<div class="h-[166px]">
							<Image src={Images.homecompost} class="rounded-t-lg w-full h-full object-cover astro-a" alt="" />
						</div>
						<div class="px-5 text-center items-center  flex flex-col h-full">
							<div class="header text-2xl py-5 text-center  font-semibold text-[#384753]">
								Home compost
							</div>
							<p  class="text-[14px] mb-10 px-10">
								El "home compost" es el proceso de descomponer materia orgánica en casa para crear compost, un abono orgánico rico en nutrientes. Esto es beneficioso para la jardinería y la salud del suelo. Este proceso domiciliario se hace alcanzando una temperatura promedio de 20-25 grados la cual es clave para su descomposición. El compostaje doméstico reduce los residuos enviados a vertederos, disminuyendo la huella de carbono. Se necesita un equilibrio entre materiales verdes (ricos en nitrógeno) y marrones (ricos en carbono), depositados en un contenedor o pila de compost. El proceso toma semanas o meses y produce un recurso valioso para jardinería y reduce la cantidad de desechos en vertederos.
							</p>
						
		
							
						</div>
					</div>
					
				</div>
				<div class="grid  md:grid-cols-2 gap-10 pt-10">
					<div class="">
						<Image src={Images.compostindustrial} class=" w-full h-full object-cover astro-a" alt="" />
					</div>
					<div class="">
						<div class="text-3xl uppercase text-left pb-10  font-medium text-[#384753]">
							COMPOST INDUSTRIAL Y <br class="md:block hidden">
							POR QUE LO ESCOGIMOS
						</div>
						<div class="">
							<p  class="text-[14px] mb-10 ">
								El compostaje es un proceso de degradación controlado de la materia orgánica ( frutas, verduras, pasto, hojas y otros ) a través de microorganismos aeróbicos. Este proceso es llevado a cabo bajo condiciones controladas de temperatura y humedad. El producto que se genera es un compost 100% natural de alta calidad, útil como sustrato para el suelo. El compost tiene diversos beneficios, entre los principales: un alto aporte nutricional, la retención de carbono en el suelo, una menor incidencia de microorganismos patógenos al actuar como bactericida y fungicida, además, mejora la capacidad de retención, almacenamiento y velocidad de infiltración del agua y, la estabilidad y estructura del suelo.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-[#384753] py-20 pb-60 pt-40 relative">
			<div class="container">
				<div class="grid md:grid-cols-2 gap-10">
					<div class="">
						<div class="border-b border-white pb-7">
							<h2 class="text-5xl font-bold text-white">PLAN DE ACCIÓN</h2>
							<h4 class="text-2xl font-bold text-white mb-0">(PLAN DE RECICLAJE Y COMPOSTAJE)
							</h4>
						</div>
						<div class="pt-7">
							<p  class="text-[14px] mb-10  text-white">
								Ayúdanos a no parar este ciclo de revalorización continuo, nos esforzamos por hacerlo más ágil y fácil cada día. <br><br>

								No solo buscamos la excelencia en nuestros productos garantizando su frescura y sabor, los pensamos de principio a principio, es un ciclo sin término que impacta positivamente en nuestro medio ambiente.  <br><br>

								¡Contamos contigo! 
							</p>	
							

						</div>
					</div>
					<div class="">
						<Image src={Images.planaccion} class=" w-full h-full object-cover astro-a" alt="" />
					</div>
				</div>
			</div>
			<div class="md:px-0 px-10 flex justify-center bottom-[-383px] md:bottom-[-305px] transform left-2/4 -translate-x-2/4 absolute z-10 w-full">
				<div class="bg-[#F1F4F4] w-full md:pb-20 pb-[5rem] md:px-20 md:py-16  py-5 text-center md:max-w-[750px] justify rounded-t-lg rounded-b-lg blackdrop-card-somos">
					<div class="text-3xl uppercase text-center pb-20  font-normal text-[#384753]">
						¿CÓMO LO HAREMOS?
					</div>
					<p  class="text-[14px] mb-10 px-5 md:px-10 text-left">
						Cápsulas compostables : Serán compostadas y transformadas en abono para el medio ambiente. <br><br>

						Cápsulas de aluminio : Serán trituradas, el café será compostado ya que es materia orgánica y el aluminio será reciclado transformándose en nuevos productos de aluminio, pudiendo ser reciclado infinitas veces.

					</p>
				</div>
			</div>
			
		</section>
		<section class="bg-white py-20 relative">
			<div class="container pt-[25rem]">
				<div class="grid md:grid-cols-2 gap-10">
					<div class="">
						<Image src={Images.programa} class=" w-full h-full object-cover astro-a" alt="" />
					</div>
					<div class="">
						<div class="text-3xl uppercase text-left pb-10  font-normal text-[#384753]">
							PROGRAMA DE <br class="md:block hidden">		
							RECICLAJE Y COMPOSTAJE
						</div>
						<p  class="text-[14px]  pt-4 text-left">
							Como parte de nuestro compromiso y plan de acción por una industria cafetera sostenible, en cada una de nuestras tiendas podrás encontrar puntos de reciclajes para todos nuestros formatos. <br><br>

							Solo te pedimos separar tus residuos, y no mezclar cápsulas compostables con aluminio o bolsas, deben venir por separadas. Estará debidamente señalado en nuestros estantes de reciclaje

						</p>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-white py-20 relative">
			<div class="container ">
				<div class="grid md:grid-cols-5 gap-10">
					<div class="">
						<div class="text-3xl uppercase text-left pb-10  font-normal text-[#384753]">
							PUNTOS DE <br>RECICLAJE
						</div>
					</div>
					<div class="col-span-2">
						<div class="bg-[#F1F4F4] flex-col flex">
							<div class="h-[166px]">
								<Image src={Images.parquearauco} class="rounded-t-lg w-full h-full object-cover astro-a" alt="" />
							</div>
							<div class=" text-left px-10  flex flex-col h-full">
								<div class="header text-2xl py-5 text-left  font-semibold text-[#384753]">
									PARQUE ARAUCO
								</div>
								<p  class="text-[14px] mb-10 ">
									Av. Presidente Kennedy 5413 local 176<br>
									Las condes. <br>
									Región Metropolitana.
								</p>
							
			
								
							</div>
						</div>
					</div>
					<div class="col-span-2">
						<div class="bg-[#F1F4F4] flex-col flex">
							<div class="h-[166px]">
								<Image src={Images.alto_condes} class="rounded-t-lg w-full h-full object-cover astro-a" alt="" />
							</div>
							<div class=" text-left px-10  flex flex-col h-full">
								<div class="header text-2xl py-5 text-left  font-semibold text-[#384753]">
									ALTO LAS CONDES
								</div>
								<p  class="text-[14px] mb-10 ">
									Avenida Kennedy 9001 local 3056. <br>
									Las condes. <br>
									Región Metropolitana.
								</p>
							
			
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="bg-white py-20 relative">
			<div class="container ">
				<div class="text-3xl uppercase text-center pt-20  font-normal text-[#384753]">
					¿CUALES SON NUESTROS PRÓXIMOS OBJETIVOS?
				</div>
				<div class="pt-16">
					<Image src={Images.objetivos} class=" w-full h-[148px] object-contain astro-a" alt="" />
				</div>
				<div class="text-3xl uppercase text-center pt-20  font-normal text-[#384753]">
					CICLO DE VIDA DE NUESTROS PRODUCTOS
				</div>
				<div class="pt-16">
					<Image src={Images.disfruta} class=" w-full  object-contain astro-a" alt="" />
				</div>
			</div>
		</section>
		


		
		
		<footer class="bg-[#384753]">
			<div class="py-36 flex justify-center flex-col items-center">
				<svg xmlns="http://www.w3.org/2000/svg" width="108.94" height="108.94" viewBox="0 0 108.94 108.94">
					<g id="Grupo_17" data-name="Grupo 17" transform="translate(-905.53 -2815.847)">
					  <path id="Trazado_44" data-name="Trazado 44" d="M959.916,2815.847a54.5,54.5,0,0,0-54.386,54.3c.044,30.159,24.411,54.654,54.351,54.637a54.47,54.47,0,1,0,.035-108.94m-.327,104.028c-27.184-.12-49.287-22.625-49.128-50.019a49.579,49.579,0,1,1,49.128,50.019" fill="#fff"/>
					  <path id="Trazado_45" data-name="Trazado 45" d="M960.289,2877.2c-2.875,6.311-5.648,11.977-8.035,17.8-1.383,3.37.381,7.5,3.5,9.6a8.493,8.493,0,0,0,9.808-.434,8.226,8.226,0,0,0,2.771-9.608c-2.437-5.631-5.146-11.146-8.042-17.36m2.154,22.974a5.653,5.653,0,0,1-4.3-.047c-1.653-.787-1.894-2.6-1.109-4.337.986-2.178,2.017-4.337,3.251-6.98,1.259,2.69,2.3,4.848,3.282,7.032.781,1.734.526,3.561-1.126,4.332" fill="#fff"/>
					  <path id="Trazado_46" data-name="Trazado 46" d="M970.467,2843.946l-3.977-2.829-6.819,9.226c-1.24-1.74-2.29-3.213-3.341-4.686s-2.1-2.942-3.265-4.572c-1.358.966-2.552,1.818-3.984,2.838,3.575,5.055,6.957,9.836,10.553,14.918,3.714-5.108,7.205-9.906,10.833-14.9" fill="#fff"/>
					  <path id="Trazado_47" data-name="Trazado 47" d="M988.859,2842.7l-3.782-3.232L959.9,2868.935l-25.182-29.467-3.782,3.232,24.012,28.1h-25.8v4.548h61.712V2870.8H964.846Z" fill="#fff"/>
					</g>
				</svg>
				<div class="text-white text-[1.5rem] font-bold text-center mt-2">
					BLACK<span class="font-light tracking-widest">DROP</span>
					<span class="block text-sm font-light tracking-widest">COFFEE</span>
				</div>
			</div>
		</footer>
	</main>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
	<script is:inline src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
	<script is:inline>new Swiper('.swiper', {
		slidesPerView: 1,
		loop: true,
	
		pagination: {
			el: '.swiper-pagination',
			clickable: true,

		},	
	})</script>
</Layout>


